/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/


/* Basic reset styles */


/* This is the reset styles to delete any of the inherit styles that the browser might have */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    font-weight: 200;
    font-size: 1rem;
    line-height: 1.7;
    color: grey;
    margin: 25px;
}


/* the header styles */

header {
    position: relative;
    height: 95vh;
    background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.801), rgba(39, 180, 133, 0.801)), url(../img/hero.jpg);
    /* what background-size does is to always fix the size of the element to the size of the image */
    background-size: cover;
    background-position: top;
    /* This is specifically for safari for having a diagonal clip of an element */
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
}

.logo {
    position: absolute;
    top: 35px;
    left: 35px;
}

.logo-img {
    height: 35px;
}

.catchphrase {
    color: white;
    text-transform: uppercase;
    backface-visibility: hidden;
}

.catchphrase-container {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.catchphrase-main {
    display: block;
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 30px;
    text-align: center;
    animation: catchphraseLeft 1s ease-in-out;
}

.catchphrase-sub {
    display: block;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 15px;
    text-align: center;
    margin-bottom: 10%;
    animation: catchphraseRight 1s ease-in-out;
}


/* The :link pseudo-class is used to select unvisited links */


/* The :active pseudo-class is used to select the activated or active link */

.btn:link,
.btn:visited {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    padding: 15px 35px;
    transition: all 0.1s;
    animation: btnGoUp 1s ease-in-out;
}


/* This is to make the button move a little bit to the top to create the button effect */

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}


/* Button moves back down when not hovered */

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.btn-white {
    background-color: white;
    color: grey;
    border-radius: 100px;
}


/* animations for the catchphrases */

@keyframes catchphraseLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }
    80% {
        transform: translateX(10px);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes catchphraseRight {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }
    80% {
        transform: translateX(-10px);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}


/* Animation for the button going up the page */

@keyframes btnGoUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}